#### Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

Examples

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

In [26]:
def next_in_line(l,n):
    if len(l)==0:
        return "No list has been selected"
    l.remove(l[0])
    l.append(n)
    return l

In [27]:
next_in_line([], 6)

'No list has been selected'

In [28]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

#### Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [31]:
def get_budgets(l):
    s=0
    for i in l:
        s+=i["budget"]
    return s

In [32]:
get_budgets([
{ "name":"john","age": 21, "budget": 29000 },
{ "name": "steve", "age": 32, "budget": 32000 },
{ "name": "martine", "age": 16,"budget": 1600 }
])

62600

#### Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

Examples

alphabet_soup("hello") ➞ "ehllo";

alphabet_soup("edabit") ➞ "abdeit"

In [38]:
def alphabet_soup(s):
    return "".join(sorted(s))

In [39]:
alphabet_soup("hello")

'ehllo'

#### Question4

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.


For the example above:

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.

In [18]:
def compound_interest(principle,time,rate,period):
    return round(principle * (pow((1 + rate/period), time*period)),2)

In [19]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [20]:
compound_interest(100, 1, 0.05, 1)

105.0

In [21]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

#### Question5
Write a function that takes a list of elements and returns only the integers.

Examples

return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

In [22]:
def return_only_integer(l):
    r=[]
    for i in l:
        if type(i)==int:
            r.append(i)
    return r

In [23]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [25]:
return_only_integer(["hello","77", 81, "basketball", 123, "fox"])

[81, 123]